.header{
    position: sticky;
    top: 0;
    background-color: #f9f4f0d4;
    opacity: 1;
    padding: 10px 0px;
}
.ms-auto {
    margin-left: 0px !important;
}
.bg-body-tertiary{
    background-color: #f9f4f000 !important;
}
.badge-container{
    position: absolute;
    top: -15px;
    background-color: red;
    border-radius: 32px;
    text-align: center;
    align-items: center;
    display: flex;
    right: 5px;
    font-size: 12px;
}
.navbar-collapse{
    justify-content: space-between;
    align-items: center;
}
.menubar{
    margin: auto;
}
.topsocialicons{
    margin: 0 10px;
}